# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ppmawaro/app.ppmawar.or.id"
PassengerBaseURI "/"
PassengerNodejs "/home/ppmawaro/nodevenv/app.ppmawar.or.id/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Enable Passenger / LiteSpeed Node.js Handler
DirectoryIndex disabled
Options -Indexes

