# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "."
PassengerBaseURI "/"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Enable Passenger / LiteSpeed Node.js Handler
DirectoryIndex disabled
Options -Indexes
